/**
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
// Index .less, any imports here will be included in the final css build

@import '~bootstrap3/less/bootstrap.less';
@import './fonts.less';
@import './variables.less';
@import './cosmo/bootswatch.less';

html,
body {
  font-size: @font-size-base;
  line-height: @line-height-base;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

header {
  flex: 0 1 auto;
}
/*Custom styles for the dashboard*/
header#main-menu{background-color: #A81414;margin: 0 !important;padding:0.656rem 0 !important}
.top .antd5-row .antd5-menu-light{background-color: transparent !important;color: #fff !important;}
.top .antd5-row .antd5-menu-light .antd5-menu-item{color: #fff !important;}
.top .antd5-row .antd5-menu-light .antd5-menu-item-selected{background-color: #A81414 !important;}
main .antd5-row.menu{border-bottom: 1px solid #CCC;background: #FFF;box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.10)}
/**/

#app {
  flex: 1 1 auto;
  position: relative;
  display: flex;
  flex-direction: column;
}


